.gifholder-wrapper {
    width:100%;
    height: 50vw;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background-color: gray
}

.gifholder-wrapper a img{
    height: 120px;
    padding: 20px;
    margin: 40px;
}

.gifholder-wrapper .gifholder {
    width: 60%;
    height: auto;
    
}

.gifholder-wrapper .gifholder img {
    width: 100%;
    margin: auto;
}