// LANDING PAGE MIDDLE DIV CSS

.middle-div .section {
    display: flex;
    position: relative;
    align-items: center;
    
}

.middle-div .section .chat-img {
    padding-left: 17.5px;
}

.middle-div .section .blurb {
    padding-left: 90px;
    padding-right: 75px;
    margin-left: 30px;
}

.middle-div .section h1 {
    font-family: 'Catamaran', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 54px;
    color: rgb(35,39,42)
}

.middle-div .section p {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgb(35,39,42)
}

.middle-div .section.one {
    top: 3%;
    left: Calc(50% - 600px);
    width:1280px;
}

.middle-div .section.two {
    top: 16%;
    left: Calc(50% - 690px);
    width:1280px;
    flex-direction: row-reverse;
}

.middle-div .section.two .blurb {
    padding-right: 110px;
    margin-left: 15px;
}

.middle-div .section.three {
    top: 29%;
    left: Calc(50% - 600px);
    width:1280px;
}

.middle-div .section.four {
    top: 43%;
    left: Calc(50% - 590px);
    width:1200px;
    flex-direction: column-reverse;
    text-align: center;
}

.middle-div .section.four img{
    
    width: 1170px;
}

.middle-div .section.four .blurb {
    padding-right: 140px;
    margin-left: 15px;
}

.middle-div .end-middle {
    position: relative;
    top: 45%;
    left: Calc(50% - 625px);
    width:1280px;
    text-align: center;
}

.middle-div .end-middle h2{
    z-index: 1;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    top: -30px;
    margin-bottom: 20px;
}

.middle-div .end-middle a {
    min-width: 48px;
    max-width: 48px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 19px;
    font-family: sans-serif;
    border-radius: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(114,137,218);
    cursor: pointer;
}

.middle-div .end-middle a:hover {
    background-color: #677bc4;
}

.middle-div .end-middle .greeting-logout a {
    min-width: 120px;
    max-width: 120px;
}

.middle-div .end-middle .download img {
    width: 16px;
    height: 20px;
    margin: auto 0;

}
