@font-face {
    font-family:'discord';
    src: font_url('unisans.otf');
}

// LANDING PAGE TOP DIV CSS

.top-div {
    background-image: linear-gradient(0deg,#7196ff -.45%,#2a5ee8 71.18%);
    width: 100%;
    height: 625px;
}

// LANDING PAGE TOP DIV HEADER CSS

.top-div header {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family:'discord', sans-serif;
    z-index: 999;
    height:80px;
}

.top-div header .header-logo-link {
    margin: auto 40px;
    z-index: 999;
}

.top-div header .navlinks {
    display: flex;
    width: 40%;
    margin: auto 0;
    justify-content: space-around;
    z-index: 999;
}

.top-div header a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    z-index: 999;
}

.top-div header img.header-logo {
    width: 140px;
    z-index: 999;
}

.top-div header nav {
    width: 200px;
    text-align: center;
    display: flex;
    z-index: 999;
}

.top-div header nav a{
    margin: auto 40px auto auto;
    background-color: white;
    color: rgb(35,39,42);;
    border-radius: 30px;
    font-weight: 300;
    padding: 13.5px 17px;
    font-size: 12px;
    z-index: 999;
}

.top-div header nav a:hover {
    color: rgb(112,150,255);
    box-shadow: 0 0 15px 5px rgba(50,50,50,0.3);
    transition: 0.25s;
}

.top-div .middle-blob-wrapper {
    width:1280px;
    height: 545px;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 1;
}

.top-div .middle-blob-wrapper .middle-blob {
    width: 60%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;
    justify-content: space-between;
    z-index: 1;
}

.top-div h1 {
    font-weight: bolder;
    font-size: 50px;
}

.top-div p {
    margin: 40px 0;
    text-align: center;
    font-size: 18.5px;
    padding: 0px;
    line-height: 32px;
    color: rgba(250,250,250,0.9);
    font-family: sans-serif;
}

// LANDING PAGE TOP DIV MIDDLE BLOB CSS

.top-div .middle-blob .discord-buttons img {
    width: 16px;
    height: 20px;
    margin: auto;
    padding-right: 15px;
}

.top-div .middle-blob .discord-buttons {
    display:flex;
    justify-content: center;
    width: 650px;
}

.top-div .middle-blob .discord-buttons a {
    padding: 18px 32px;
    text-decoration: none;
    font-size: 19px;
    border-radius: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.top-div .middle-blob .discord-buttons a.white {
    background-color: white;
    color: rgb(35,39,42);
    
}

.top-div .middle-blob .discord-buttons a.black {
    background-color: rgb(35,39,42);
    color: white;
}




