.channel-nav {
    width: 100%;
    height: Calc(100% - 100px);
    display: flex;
    flex-direction: column;
    padding: 18px 2px;

    .channels-title {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 8px;
        cursor:pointer;
        

        svg {           
            transition: 0.3s;      
        }

        svg.closed {
            transform: rotate(-90deg);
            transition: 0.3s;
        }


        h2 {
            color: #8E9297;
            font-size: 12px;
            font-weight: 700;
            margin-left: 2px;
        }

        svg.create-button {
            position: absolute;
            right: 18px;
        }

        svg.create-button:hover {
            polygon {
                fill:white;
            }
        }
    }

    .channels-title:hover {
        svg {
            path{
                fill:white;
            }
        }

        h2 {
            color: white;
        }
    }

    .channels-title.voice {
        margin-top: 16px;
    }

    .channels-list {
        width: 100%;
        li {
            display: flex;
            align-items: center;
            width: Calc(100% - 20px);
            height: 24px;
            padding: 5px;
            margin-left: 6px;
            cursor:pointer;
            border-radius: 4px;

            svg {
                margin-top: -8px;
            }
            span {

                margin-left: 12px;
                color: #8E9297;

            }
        }

        li.selected.text {
            background-color: rgba(79,84,92,0.32);
            span {
                color: white;
            }
        }

        li.selected.voice {
            span {
                color: white;
            }
        }

        li:hover {
            background-color: rgba(79,84,92,0.16);

            span {
                color: #dcddde;
            }
        }

        li.selected:hover {
            background-color: none;
            span {
                color: white;
            }
        }
    }

    .channel-context-menu {
        display: none;
        min-width: 188px;
        max-width: 320px;
        height: auto;
        background-color: #18191c;
        z-index: 5;
        border-radius: 4px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.24);
        padding:8px;


        .divider {
            box-sizing: border-box;
            margin: 4px;
            border-bottom: 1px solid hsla(0,0%,100%,0.06);
        }

        .mark-read-div {
            min-width: 172px;
            min-height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;

            span {
                color: #b9bbbe;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .mark-read-div:hover {
            background-color: #4e5d94;
            span {
                color: white;
                font-weight: 600;
            }
            
        }

        .edit-channel-div {
            min-width: 172px;
            min-height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;

            span {
                color: #b9bbbe;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .edit-channel-div:hover {
            background-color: #4e5d94;
            span {
                color: white;
                font-weight: 600;
            }
            
        }

        .delete-channel-div {
            min-width: 172px;
            min-height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;

            span {
                color: #F04747;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .delete-channel-div:hover {
            background-color: #F04747;
            span {
                color: white;
                font-weight: 600;
            }
            
        }
    }

    .channel-context-menu.active {
        display: flex;
        flex-direction: column;
    }
    
}