.side-nav {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width:72px;
    overflow:auto;
    background-color: rgb(32,34,37);
    width: 72px;

    height:100%;
    padding: 5px 0;
    margin: auto;


        

    a.server-icon {
        text-decoration: none;
        display: flex;
        align-items: center;

        .selected-indicator {
            position:absolute;
            width: 4px;
            height: 40px;
            background-color: white;
            left: 0px;
            border-radius: 0 4px 4px 0;
            transform: scaleY(0);
            transition: 0.25s;
        }

        .selected-indicator.active {
            transform: scaleY(1);
            transition: 0.25s;
        }

        span.server-name {
            opacity: 0;
            position: absolute;
            left: 80px;
            color: #dcddde;
            font-size: 16px;
            font-weight: 600;
            background-color: #18191c;
            border-radius: 5px;
            width: auto;
            padding: 10px;
            z-index: 8;
            transition: 0.17s;
            display: none;
        }

        span.server-name::before {
            content:"";
            position: absolute;
            left: -10px;
            top: 12px;
            width: 0px;
            height: 0px;
            border:5px dotted transparent;
            border-right: 5px solid #18191c;
        }

        
    }

    a.server-icon:hover {
        .selected-indicator {
            transform: scaleY(0.5);
            transition: 0.25s;
        }

        .selected-indicator.active {
            transform: scaleY(1);
            transition: 0.25s;
        }

        span.server-name {
            display: inline-block;
            opacity: 1;
            transition: 0.17s;
        }
    }

    .nav-divider {
        height: 1px;
        width: 30px;
        background-color: rgb(54,57,63);
        margin: 5px 0;
    }

    .nav-tab-frame {
        z-index: 3;
        background-color: rgb(54,57,63);
        min-height:48px;
        min-width:48px;
        border-radius:24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 5px auto;
        transition: 0.25s;

        img.nav-tab.robot {
            padding-top: 5px;
            height: 48px;
            width: 48px;
            color: black;
        }

        h3.nav-tab {
            color: #dcddde;
            font-weight: 500;
            font-family: 'Catamaran', sans-serif;
        }

    }

    a:hover {
        .nav-tab-frame {
            border-radius:16px;
            background-color: rgb(114,137,218);
            transition:0.25s;
        }
    }

    .nav-tab-frame:hover {
        border-radius:16px;
        background-color: rgb(114,137,218);
        transition:0.25s;
    }

    a.server-icon.selected {
        .nav-tab-frame {
            border-radius:16px;
            background-color: rgb(114,137,218);
            transition:0.25s;
        }
    }

    .nav-tab-frame.default {
        z-index: 3;
        position: relative;
        span.server-name {
            opacity: 1;
            position: absolute;
            left: 80px;
            color: #dcddde;
            font-size: 16px;
            font-weight: 600;
            background-color: #18191c;
            border-radius: 5px;
            width: auto;
            padding: 10px;
            z-index: 30 !important;
            transition: 0.17s;
            display: none;
        }

        span.server-name::before {
            content:"";
            position: absolute;
            left: -10px;
            top: 12px;
            width: auto;
            height: auto;
            border:5px dotted transparent;
            border-right: 5px solid #18191c;
            z-index: 30;
        }
    }

    .nav-tab-frame.default:hover {
        background-color: #43B581;
        svg path {
            fill: white;
        }

        span.server-name {
            z-index: 8;
            position: fixed;
            display: inline-block;
            opacity: 1;
            transition: 0.17s;
        }
    }

    .server-context-menu {
        min-width: 188px;
        max-width: 320px;
        height: auto;
        background-color: #18191c;
        z-index: 5;
        border-radius: 4px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.24);
        padding:8px;

        .divider {
            box-sizing: border-box;
            margin: 4px;
            border-bottom: 1px solid hsla(0,0%,100%,0.06);
        }

        .mark-read-div {
            min-width: 172px;
            min-height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;

            span {
                color: #b9bbbe;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .mark-read-div:hover {
            background-color: #4e5d94;
            span {
                color: white;
                font-weight: 600;
            }
            
        }

        .update-server-div {
            min-width: 172px;
            min-height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;

            span {
                color: #b9bbbe;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .update-server-div:hover {
            background-color: #4e5d94;
            span {
                color: white;
                font-weight: 600;
            }
            
        }

        .leave-server-div {
            min-width: 172px;
            min-height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;

            span {
                color: #F04747;
                font-size: 14px;
                margin-left: 8px;
            }
        }

        .leave-server-div:hover {
            background-color: #F04747;
            span {
                color: white;
                font-weight: 600;
            }
            
        }
    }

}

.side-nav::-webkit-scrollbar {
    display: none;
}