@font-face {
    font-family:'discord';
    src: font_url('unisans.otf');
}

.top-div {
    background-image: linear-gradient(90deg, rgb(42,94,232), rgb(112,150,255));
    width: 100%;
    height: 835px;
}

.top-div header {
    display: flex;
    justify-content: space-between;
    font-family:'discord', sans-serif;
    
    height:110px;
}

.top-div header .header-logo-link {
    margin: auto 55px;
}

.top-div header .navlinks {
    display: flex;
    width: 40%;
    margin: auto 0;
    justify-content: space-around;
}

.top-div header a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.top-div header img.header-logo {
    width: 170px;
}

.top-div header nav {
    width: 280px;
    text-align: center;
    display: flex;
}

.top-div header nav a{
    margin: auto 55px auto auto;
    background-color: white;
    color: rgb(35,39,42);;
    border-radius: 30px;
    font-weight: 300;
    padding: 19px 23px;
    font-size: 16px;
}

.top-div header nav a:hover {
    color: rgb(112,150,255);
    box-shadow: 0 0 15px 5px rgba(50,50,50,0.3);
    transition: 0.25s;
}

.top-div .middle-blob-wrapper {
    width:100%;
    height: 725px;
    margin: auto;
    display: flex;
    align-items: center;
}

.top-div .middle-blob-wrapper .middle-blob {
    width: 60%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;
    justify-content: space-between;
}

.top-div h1 {
    font-weight: bolder;
    font-size: 66px;
}

.top-div p {
    text-align: center;
    font-size: 25px;
    padding: 0px;
    line-height: 40px;
}

.top-div .middle-blob .discord-buttons img {
    width: 20px;
    height: 25px;
    margin: auto;
    padding-right: 15px;
}

.top-div .middle-blob .discord-buttons {
    display:flex;
    justify-content: center;
    width: 88%;
}

.top-div .middle-blob .discord-buttons a {
    padding: 24px 44px;
    text-decoration: none;
    font-size: 26px;
    border-radius: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.top-div .middle-blob .discord-buttons a.white {
    background-color: white;
    color: rgb(35,39,42);
    
}

.top-div .middle-blob .discord-buttons a.black {
    background-color: rgb(35,39,42);
    color: white;
}

.middle-div {
    background-image: image_url('landing_page/MiddleBGLandingPage.png');
    background-size: cover;
    width: 100%;
    height: 5000px;
}