article.mm-popup__box {
    background-color: rgb(54,57,63);
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.05);
    border:none;
    border-radius: 4px;
    
    .mm-popup__box__body {
        background-color: rgba(255,255,255,0.04);
        color:white;
        font-family: 'Varela', sans-serif;
    }

    .mm-popup__close {
        display: none;
    }

    .mm-popup__btn {
        background-color: #7289da;
        color:white;
        font-family: 'Varela', sans-serif;
        border: none;
        width: 60px;
        font-size: 14px;
        font-weight: 500;
    }

    .mm-popup__btn:hover {
        background-color: #677bc4;
    }

    .mm-popup__box__footer {
        padding: 16px;
    }
}